* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: beige;
}

/* ------ Nav Bar -------  */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background: black;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

/* ----- Section One of the page ------- */

.section-1 {
    height: 40vh;
    padding: 0px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Title of the first section  */

.title {
    height: 20vh;
    text-align: center;
    margin-bottom: 20px;
}

.title,
.h1 {
    font-size: 40px;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

/* Time section for the first section */

.time {
    text-align: center;
    height: 20vh;
    color: black;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
}

/* --- images section */

.wrapper {
    height: vh;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 100px;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.wrapper img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.wrapper img:hover {
    transform: scale(1.1);
}

.wrapper>div {
    width: 300px;
    height: 75vh;
}


.information {
    height: 200px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information p {
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 20px;
}

.addtobasket {
    margin-left: 100px;
    margin-top: 20px;
    line-height: 20px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    outline: none;
}

/* Terms and Condidtions Section */

.main-terms {
    height: 30vh;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.main-terms h3 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: underline;
    font-family: 'Quicksand', sans-serif;
}

.main-terms p {
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;
}

/* ---- Footer ------ */

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 10vh;
    background-color: black;
    color: #fff;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    padding-top: 20px;
    padding-bottom: 20px;
}